%h3 Songs and Stuff

%table.table.table-bordered
  %tr
    %th Song Title
    %th Lyrics

  - @album.songs.each do |song|
    %tr
      %th= link_to song.title, user_band_song_path(current_user, @album.band, @album, song)
      %th= truncate(song.lyrics, length: 60)
      %th= link_to 'Delete Song', user_band_song_path(current_user, @album.band, @album, song), method: :delete

