%h3= @album.title

.span3
  = render 'form'

.span5
  %table.table.table-bordered.song-table
    %tr
      %th Song Title

    - @album.songs.each do |song|
      %tr
        %td= song.title
        %td= link_to 'Remove Song', [ current_user, @album.band, @album, song ], method: :delete, class: 'btn-small btn-danger'
