%h3 The bands you have selected, Ninja-san

- @bands.each do |band|
  %ul.nav.nav-list
    %li.nav-header Bands
    %li= link_to band.name, '#'

    %table.table.table-bordered.hidden
      %tr
        %th Record Title

      %tr
        #albums
          - band.albums.each do |album|
            %td= link_to album.title, [ current_user, band, album ]

    .btn-group.hidden
      = link_to 'Edit Band', edit_user_band_path(current_user, band.id), class: 'btn'
      = link_to 'Remove Band', user_band_path(current_user,band), method: :delete, confirm: 'Warning: Permanantly Removes Band', class: 'btn'


