%h3 The bands you have selected, Ninja-san

%table.table.table-bordered
  %tr
    %th Band Name

  - @bands.each do |band|
    %tr
      %td= link_to band.name, '#'
      #albums
        - band.albums.each do |album|
          %td= link_to album.title, [ current_user, band, album ]

      %td= link_to 'Edit Band', edit_user_band_path(current_user, band.id)
      %td= link_to 'Remove Band', user_band_path(current_user,band), method: :delete, confirm: 'Warning: Permanantly Removes Band'
